@tailwind base;
@tailwind components;
@tailwind utilities;


.active-cat-li{
    background-color: transparent !important;
}

.categories ul{
    height: 50vh;
    overflow-y: scroll;   
}

.categories ul::-webkit-scrollbar{
    display: none;
}


.scroling::-webkit-scrollbar{
    display: none;
}




